<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilterSection" type="ReflectionLoading.Configuration.FilterSection, ReflectionLoading" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <FilterSection>
    <Filters>
      <add name="Consonant removal" assembly="Filters" fullPathClass="Filters.RegexFilters.RemoveConsonantsFilter" />
      <add name="Number removal" assembly="Filters" fullPathClass="Filters.RegexFilters.RemoveNumbersFilter" />
      <add name="Vowel removal" assembly="Filters" fullPathClass="Filters.RegexFilters.RemoveVowelsFilter" />
      <add name="Max length" assembly="ExtraFilters" fullPathClass="Filters.LengthFilters.MaxLengthFilter" />
      <add name="Min length" assembly="ExtraFilters" fullPathClass="Filters.LengthFilters.MinLengthFilter" />
    </Filters>
  </FilterSection>
</configuration>